.banner {
  display: grid;

  // stupid safari fix that breaks other things
  // height: 12rem;
}

.block {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.bannerImage {
  // opacity: 0.5;
  // filter: blur(3px);

  width: 100%;
  height: 100%;

  max-width: 80rem;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.bannerText {
  margin: 1rem;
  max-width: 40rem;
  z-index: 1;
}