.article {
  margin: 3rem 1rem;

  max-width: 60rem;

  @media screen and (min-width: 62rem) {
    margin: 3rem auto;
  }
}

.articleImage {
  width: 100%;
  max-height: 15rem;
  object-fit: cover;

  @media screen and (min-width: 40rem) {
      max-height: 30rem;
  }

  @media screen and (min-width: 60rem) {
      max-height: 30rem;
  }
}

.metadata {
  display: flex;
  margin: 2rem auto;
  max-width: 45rem;
}

.tagList{
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
}

.tag {
  background-color: rgb(7, 190, 84);
  padding: .5rem;
  color: white;
  border-radius: 1rem;
  font-size: 0.6em;
  margin: 0.1rem;
}

.dateStyle{
  margin: auto 0 auto auto;
  min-width: 6rem;
  text-align: right;

  // font-size: 0.6em;
  color: #6f6f6f;
  font-weight: 700;
  font-style: italic;
}

.title {
  max-width: 45rem;
  margin: 2rem auto;
  font-size: 3em;
}

.abstract {
  max-width: 45rem;
  margin: 2rem auto;
  font-style: italic;
}

.escapedContent {
  max-width: 45rem;
  margin: auto;
  overflow: scroll;

  img {
    max-width: 100%;
    height: auto;
  }
}