
.blogListItem {
  margin: 3rem 0;

  // background-color: red;
  box-shadow: 0 2px 25px 0 rgba(0,0,0,.08);
  padding: 1rem;

}

.readMore {
  padding: .5rem;
  background: #949bff;
  margin: 2rem 0;
  display: block;
  max-width: 10rem;
  text-align: center;
  border-radius: 4px;

  font-weight: 700;
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}