.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 2px 25px 0 rgba(0,0,0,.08)
}

.headerImage {
  object-fit: cover;
  height: 10rem;
}

.contentBox {
  margin: 1rem;
}
