.articleList {
  max-width: 60rem;
  margin: 0 1rem;

  display: grid;

  grid-template-columns: 1fr; 
  grid-gap: 1rem;


  @media screen and (min-width: 62rem) {
    margin: 0 auto;
  }

  @media screen and (min-width: 40rem) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 60rem) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 40rem) {
    // a special list component
  > :first-child {
    grid-column-start: 1;
    grid-column-end: -1;

    a {
      flex-direction: row;
      min-height: 20rem;
    }
    h2 {
      margin-bottom: 0;
      font-size: 2.2em;
    }

    .articleImage {
      height: auto;

      // stupid fix because this image is a link
      line-height: 0;
    }
  }
  }
}

.article {
  margin: 2rem 0;
  box-shadow: 0 2px 25px 0 rgba(0,0,0,.08);
}

.articleImage {
  width: 100%;
  height: 10rem;
  background-color: rgb(147, 155, 255);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.link {
  display: flex;
  flex-direction: column;

  text-decoration: none;
  color: #505050;

  &:hover {
    h2 {
      text-decoration: underline;
    }
  }
}

.text {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  box-sizing: border-box;
  padding: 1rem;
  width: 100%;

  h2 {
    font-size: 1.6em;
  }
}

.metadata {
  display: flex;
  flex-wrap: wrap;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
}

.tag {
  background-color: rgb(7, 190, 84);
  padding: .5rem;
  color: white;
  border-radius: 1rem;
  font-size: 0.6em;
  margin: 0.1rem 0.4rem 0.4rem 0;
}

.dateStyle {
  font-size: 0.6em;
  color: #6f6f6f;
  margin: auto 0 auto auto;
}


.pageHandlerButton {
  border: none;
  background: none;
  padding: 1rem;
  max-width: 10rem;

  &:hover {
    text-decoration: underline;
  }
}

.pagerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  grid-column: 1 / -1; 
}

.nextButton {
  margin-left: auto;
}