.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  // on bigger screens
  @media screen and (min-width: 20rem) {
    // auto-fill will be better if there are an unlimited amount of cards
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
