body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;

  background-color: #F5F5F5;

  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  color: #505050;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 2rem 0;
}