.container {
  max-width: 60rem;
  margin: 0 1rem;

  @media screen and (min-width: 62rem) {
    margin: 0 auto;
  }
}

.contactImage {
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
}

.nonEscapedContent {
  max-width: 45rem;
  margin: auto;
  overflow: scroll;

  img {
    max-width: 100%;
    height: auto;
  }
}