
.footer {
  margin: 3rem 0 0;
}

.footerText {

  max-width: 60rem;

  margin: 1rem;

  @media screen and (min-width:60rem) {
    margin: 3rem auto;
  }
}

.importantLinks {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: flex-end;

  li {
    padding: 1rem;
  }
}