.container {
  max-width: 60rem;
  margin: 1rem;

  @media screen and (min-width: 62rem) {
    margin: 0 auto;
  }
}

.searchContainer {

  margin: 1rem;
  max-width: 20rem;

  @media screen and (min-width: 22rem) {
    margin: 1rem auto;
  }

  input[type="text"] {
    width: 80%;
    height: 2.5rem;
    margin: 0;
    padding: .5rem;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F4F4F4;
  }

  button[type="submit"] {
    width: 20%;
    height: 2.5rem;
    margin: 0;
    padding: .5rem;
    border: 0;
    background: none;
  }
}