.container {
  max-width: 60rem;
  margin: 0 1rem;

  @media screen and (min-width: 62rem) {
    margin: 0 auto;
  }
}

.pageHandlerButton {
  border: none;
  background: none;
  padding: 1rem;
  max-width: 10rem;

  &:hover {
    text-decoration: underline;
  }
}

.pagerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nextButton {
  margin-left: auto;
}