.navigation {
  display: flex;
  flex-wrap: wrap;

  margin: 2rem auto;
  max-width: 62rem;

  ul {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 100%;
  }

  li:first-of-type {
    // variation with the menu at the right side
    // margin-right: auto;
  }
}

.menuItem {
  height: 2rem;
  padding: 1rem;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: #828282;
}
